services:
  web:
    build: .
    container_name: everyday_web
    env_file:
      - dbconn.env
    ports:
      - "45000:5000"
    volumes:
      - .:/app
    restart: unless-stopped

# Remove the volumes section if not needed for anything else
